@page "/Orders"

@using Microsoft.AspNetCore.Authorization

@attribute [Authorize]

<h1>Orders</h1>

@if (OrdersList.Count == 0)
{
    <p>@_message</p>
}
else
{
    <table class="table table-striped">
        <thead>
        <tr>
            <th>Id</th>
            <th>Items</th>
            <th>Total Price</th>
            <th>Vendor</th>
            <th>Order Date</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var order in OrdersList)
        {
            <tr>
                <td><a href="/OrderDetails/@order.Id">@order.Id</a></td>
                <td>
                    <ul>
                        @foreach (var item in order.OrderLines)
                        {
                            <li>@item.IceCream.Name, @item.Quantity*</li>
                        }
                    </ul>
                </td>
                <td>@order.TotalPrice €</td>
                <td>@order.Vendor</td>
                <td>@order.OrderDate</td>
            </tr>
        }
        </tbody>
    </table>
}