@page "/VendorDetails/{Id:int}"
@using Blazor.Components.Account.Pages

<h1>Vendor Details</h1>
@if (Vendor is null)
{
    <p>@_message</p>
}
else
{
    <h2>@Vendor.Name</h2>
    <p>@Vendor.Description</p>
    <p>@Vendor.Address</p>
    <p>@Vendor.PhoneNumber</p>
    <p>@Vendor.Email</p>
    <p>@Vendor.Website</p>
    <br/>
    <h2>Ice Cream Flavors</h2>
    @if (Vendor.IceCreamFlavors.Count == 0)
    {
        <p>No ice cream flavors found.</p>
    }
    else
    {
        <table class="table table-striped">
            <thead>
            <tr>
                <th>Flavor</th>
                <th>Price</th>
                <th>Order Quantity</th>
                <th>Total</th>
            </tr>
            </thead>
            <tbody>
            @for(int i = 0; i < Vendor.IceCreamFlavors.Count; i++)
            {
                var localCounter = i;
                <tr>
                    <td>@Vendor.IceCreamFlavors[i].Name</td>
                    <td>@Vendor.IceCreamFlavors[i].Price €</td>
                    <td>
                        <a @onclick="@(() => DecreaseOrderAmount(localCounter))" class="btn btn-secondary">-</a>
                        @_orderLines[i].Quantity
                        <a @onclick="@(() => IncreaseOrderAmount(localCounter))" class="btn btn-secondary">+</a>
                    </td>
                    <td>@(_orderLines[i].TotalPrice) €</td>
                </tr>
            }
            </tbody>
            <tfoot>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td>@_orderLines.Sum(x => x.TotalPrice) €</td>
            </tr>
            </tfoot>
        </table>
    }
    <br/>
    <a href="/Vendors" class="btn btn-secondary">Back to Vendor overview</a>
    @if (_userId is not null)
    {
        <a @onclick="PlaceOrder" class="btn btn-primary">Order</a>
    }
    else
    {
        <a @onclick="GoToLogin" class="btn btn-primary">Login to order</a>
    }
}